*{
    margin: 0;
}

html{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

body {
    background-image: url("img/bg.jpg");
}

h1{
    margin-bottom: 25px;
    border: 4px solid darkred;
}

form {
    display: flex;
    flex-direction: column;
}

input{
    border: 0;
    height: 34px;
    padding: 0;
    width: 185px;
}

    input[type='submit']{
        background: #777;
    }

.w-login {
    display: flex;
    justify-content: center;
    padding: 15px;
    border-radius: 5px;
}